{% extends "base.jinja" %}

{% block title %}{{ _("Register") }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>{{ _("Choose your account type") }}</h2>
  <p>{{ _("Please select the type of account you want to create.") }}</p>
  <br>
  <a class="btn btn-secondary " href="{{ url_for('auth.register', user_type='volunteer') }}">
    {{ _("Register as Volunteer") }}
  </a>
  <br>
  <a class="btn btn-secondary mt-3" href="{{ url_for('auth.register', user_type='organization') }}">
    {{ _("Register as Organization") }}
  </a>
  <br>
  <a class="btn btn-secondary mt-3" href="{{ url_for('auth.register', user_type='donor') }}">
    {{ _("Register as Donor") }}
  </a>
  <br>
  <a class="btn btn-secondary mt-3" href="{{ url_for('auth.register', user_type='affected') }}">
    {{ _("Register as Affected") }}
  </a>
  <br>
  <a class="btn btn-secondary mt-3" href="{{ url_for('auth.register', user_type='authorities') }}">
    {{ _("Register as Authorities") }}
  </a>
</div>
{% endblock %}