{% extends "base.jinja" %}

{% block title %}{{ _("Register") }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <h2>{{ _("Register as") }} {{ user_type|capitalize }}</h2>
      <form method="POST" action="{{ url_for('auth.register', user_type=user_type) }}">
        {{ form.hidden_tag() }}

        <!-- Email Field -->
        <div class="form-group mb-3">
          <label for="email" class="form-label">{{ _("Email") }}</label>
          {{ form.email(class="form-control", placeholder=_("Enter your email"), id="email") }}
          {% if form.email.errors %}
          <div class="text-danger">
            {{ form.email.errors[0] }}
          </div>
          {% endif %}
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
          <label for="password" class="form-label">{{ _("Password") }}</label>
          {{ form.password(class="form-control", placeholder=_("Enter your password"), id="password") }}
          {% if form.password.errors %}
          <div class="text-danger">
            {{ form.password.errors[0] }}
          </div>
          {% endif %}
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group mb-3">
          <label for="confirm_password" class="form-label">{{ _("Confirm Password") }}</label>
          {{ form.confirm_password(class="form-control", placeholder=_("Re-enter your password"), id="confirm_password")
          }}
          {% if form.confirm_password.errors %}
          <div class="text-danger">
            {{ form.confirm_password.errors[0] }}
          </div>
          {% endif %}
        </div>

        <!-- Additional Fields for Donor-->
        {% if user_type == 'donor' %}
        <div class="form-group mb-3">
          <label for="first_name" class="form-label">{{ _("First Name") }}</label>
          {{ form.first_name(class="form-control", placeholder=_("Enter your first name"), id="first_name") }}
          {% if form.first_name.errors %}
          <div class="text-danger">
            {{ form.first_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="last_name" class="form-label">{{ _("Last Name") }}</label>
          {{ form.last_name(class="form-control", placeholder=_("Enter your last name"), id="last_name") }}
          {% if form.last_name.errors %}
          <div class="text-danger">
            {{ form.last_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="phone" class="form-label">{{ _("Phone") }}</label>
          {{ form.phone(class="form-control", placeholder=_("Enter your phone number"), id="phone") }}
          {% if form.phone.errors %}
          <div class="text-danger">
            {{ form.phone.errors[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- Additional Fields for Volunteer -->
        {% if user_type == 'volunteer' %}
        <div class="form-group mb-3">
          <label for="first_name" class="form-label">{{ _("First Name") }}</label>
          {{ form.first_name(class="form-control", placeholder=_("Enter your first name"), id="first_name") }}
          {% if form.first_name.errors %}
          <div class="text-danger">
            {{ form.first_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="last_name" class="form-label">{{ _("Last Name") }}</label>
          {{ form.last_name(class="form-control", placeholder=_("Enter your last name"), id="last_name") }}
          {% if form.last_name.errors %}
          <div class="text-danger">
            {{ form.last_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="phone" class="form-label">{{ _("Phone") }}</label>
          {{ form.phone(class="form-control", placeholder=_("Enter your phone number"), id="phone") }}
          {% if form.phone.errors %}
          <div class="text-danger">
            {{ form.phone.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street" class="form-label">{{ _("Street") }}</label>
          {{ form.street(class="form-control", placeholder=_("Enter your street"), id="street") }}
          {% if form.street.errors %}
          <div class="text-danger">
            {{ form.street.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street_number" class="form-label">{{ _("Street Number") }}</label>
          {{ form.street_number(class="form-control", placeholder=_("Enter your street number"), id="street_number") }}
          {% if form.street_number.errors %}
          <div class="text-danger">
            {{ form.street_number.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="city" class="form-label">{{ _("City") }}</label>
          {{ form.city(class="form-control", placeholder=_("Enter your city"), id="city") }}
          {% if form.city.errors %}
          <div class="text-danger">
            {{ form.city.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="voivodeship" class="form-label">{{ _("Voivodeship") }}</label>
          {{ form.voivodeship(class="form-control", placeholder=_("Enter your voivodeship"), id="voivodeship") }}
          {% if form.voivodeship.errors %}
          <div class="text-danger">
            {{ form.voivodeship.errors[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- Additional Fields for Organization -->
        {% if user_type == 'organization' %}
        <div class="form-group mb-3">
          <label for="organization_name" class="form-label">{{ _("Organization Name") }}</label>
          {{ form.organization_name(class="form-control", placeholder=_("Enter your organization name"),
          id="organization_name") }}
          {% if form.organization_name.errors %}
          <div class="text-danger">
            {{ form.organization_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="description" class="form-label">{{ _("Description") }}</label>
          {{ form.description(class="form-control", placeholder=_("Enter a description of your organization"),
          id="description") }}
          {% if form.description.errors %}
          <div class="text-danger">
            {{ form.description.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="phone" class="form-label">{{ _("Phone") }}</label>
          {{ form.phone(class="form-control", placeholder=_("Enter your phone number"), id="phone") }}
          {% if form.phone.errors %}
          <div class="text-danger">
            {{ form.phone.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street" class="form-label">{{ _("Street") }}</label>
          {{ form.street(class="form-control", placeholder=_("Enter your street"), id="street") }}
          {% if form.street.errors %}
          <div class="text-danger">
            {{ form.street.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street_number" class="form-label">{{ _("Street Number") }}</label>
          {{ form.street_number(class="form-control", placeholder=_("Enter your street number"), id="street_number") }}
          {% if form.street_number.errors %}
          <div class="text-danger">
            {{ form.street_number.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="city" class="form-label">{{ _("City") }}</label>
          {{ form.city(class="form-control", placeholder=_("Enter your city"), id="city") }}
          {% if form.city.errors %}
          <div class="text-danger">
            {{ form.city.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="voivodeship" class="form-label">{{ _("Voivodeship") }}</label>
          {{ form.voivodeship(class="form-control", placeholder=_("Enter your voivodeship"), id="voivodeship") }}
          {% if form.voivodeship.errors %}
          <div class="text-danger">
            {{ form.voivodeship.errors[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- Additional Fields for Affected -->
        {% if user_type == 'affected' %}
        <div class="form-group mb-3">
          <label for="first_name" class="form-label">{{ _("First Name") }}</label>
          {{ form.first_name(class="form-control", placeholder=_("Enter your first name"), id="first_name") }}
          {% if form.first_name.errors %}
          <div class="text-danger">
            {{ form.first_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="last_name" class="form-label">{{ _("Last Name") }}</label>
          {{ form.last_name(class="form-control", placeholder=_("Enter your last name"), id="last_name") }}
          {% if form.last_name.errors %}
          <div class="text-danger">
            {{ form.last_name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="needs" class="form-label">{{ _("Needs") }}</label>
          {{ form.needs(class="form-control", placeholder=_("Enter your needs"), id="needs") }}
          {% if form.needs.errors %}
          <div class="text-danger">
            {{ form.needs.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street" class="form-label">{{ _("Street") }}</label>
          {{ form.street(class="form-control", placeholder=_("Enter your street"), id="street") }}
          {% if form.street.errors %}
          <div class="text-danger">
            {{ form.street.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street_number" class="form-label">{{ _("Street Number") }}</label>
          {{ form.street_number(class="form-control", placeholder=_("Enter your street number"), id="street_number") }}
          {% if form.street_number.errors %}
          <div class="text-danger">
            {{ form.street_number.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="city" class="form-label">{{ _("City") }}</label>
          {{ form.city(class="form-control", placeholder=_("Enter your city"), id="city") }}
          {% if form.city.errors %}
          <div class="text-danger">
            {{ form.city.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="voivodeship" class="form-label">{{ _("Voivodeship") }}</label>
          {{ form.voivodeship(class="form-control", placeholder=_("Enter your voivodeship"), id="voivodeship") }}
          {% if form.voivodeship.errors %}
          <div class="text-danger">
            {{ form.voivodeship.errors[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- Additional Fields for Authorities -->
        {% if user_type == 'authorities' %}
        <div class="form-group mb-3">
          <label for="name" class="form-label">{{ _("Name") }}</label>
          {{ form.name(class="form-control", placeholder=_("Enter your name"), id="name") }}
          {% if form.name.errors %}
          <div class="text-danger">
            {{ form.name.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="phone" class="form-label">{{ _("Phone") }}</label>
          {{ form.phone(class="form-control", placeholder=_("Enter your phone number"), id="phone") }}
          {% if form.phone.errors %}
          <div class="text-danger">
            {{ form.phone.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street" class="form-label">{{ _("Street") }}</label>
          {{ form.street(class="form-control", placeholder=_("Enter your street"), id="street") }}
          {% if form.street.errors %}
          <div class="text-danger">
            {{ form.street.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="street_number" class="form-label">{{ _("Street Number") }}</label>
          {{ form.street_number(class="form-control", placeholder=_("Enter your street number"), id="street_number") }}
          {% if form.street_number.errors %}
          <div class="text-danger">
            {{ form.street_number.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="city" class="form-label">{{ _("City") }}</label>
          {{ form.city(class="form-control", placeholder=_("Enter your city"), id="city") }}
          {% if form.city.errors %}
          <div class="text-danger">
            {{ form.city.errors[0] }}
          </div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          <label for="voivodeship" class="form-label">{{ _("Voivodeship") }}</label>
          {{ form.voivodeship(class="form-control", placeholder=_("Enter your voivodeship"), id="voivodeship") }}
          {% if form.voivodeship.errors %}
          <div class="text-danger">
            {{ form.voivodeship.errors[0] }}
          </div>
          {% endif %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3 mb-3">{{ _("Register") }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}