{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block content %}
<div class="container-fluid p-4">
  <a class="btn btn-dark btn-lg" href="{{ url_for('home') }}">{{ _("Back") }}</a>
  <div class="btn-group" role="group">
    <a class="btn btn-primary btn-lg" id="donated-items-button" onclick="changeView(VIEW.AVALIABLE_RESOURCES)">
      {{_("Avaliable resources")}}
    </a>
    <a class="btn btn-primary btn-lg" id="donated-items-button" onclick="changeView(VIEW.DONATED_ITEMS)">
      {{_("Items donated by donors")}}
    </a>
    <a class="btn btn-primary btn-lg" id="donated-money-button" onclick="changeView(VIEW.DONATED_MONEY)">
      {{_("Money donated by donors")}}
    </a>
    <a class="btn btn-primary btn-lg" id="pending-requests-button" onclick="changeView(VIEW.PENDING_REQUESTS)">
      {{_("Current requests")}}
    </a>
    <a class="btn btn-primary btn-lg" id=" request-history-button" onclick="changeView(VIEW.REQUEST_HISTORY)">
      {{_("Completed requests")}}
    </a>
  </div>
  <hr>
  <h3>{{ _("Select the aid campaign you wish to supervise") }}</h3>
  <div>
    <form method="post">
      <label class="form-label" for="curr_charity_campaign">{{ _("Charity campaign") }}</label>
      <select class="form-select mb-3" name="curr_charity_campaign_id" class="form-select">
        {% if curr_charity_campaign is defined %}
        {% for charity_campaign in charity_campaigns %}
        {% if charity_campaign.id == curr_charity_campaign.id %}
        <option selected value="{{charity_campaign.id}}">{{charity_campaign.name}}</option>
        {% else %}
        <option value="{{charity_campaign.id}}">{{charity_campaign.name}}</option>
        {% endif %}
        {% endfor %}
        {% else %}
        <option selected diabled hidden value="none">{{ _("Select charity campaign") }}</option>
        {% for charity_campaign in charity_campaigns %}
        <option value="{{charity_campaign.id}}">{{charity_campaign.name}}</option>
        {% endfor %}
        {% endif %}
      </select>
      <input type="submit" class="btn btn-secondary" value='{{_("Show resources for charity campaign")}}'>
    </form>
    <hr>
    {% if organizations_with_resources %}
    <div id="avaliable-resources">
      <h4>{{ _("Avaliable resources") }}</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ _("Organization") }}</th>
            <th>{{ _("Resources") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for curr_resource in organizations_with_resources %}
          <tr>
            <td>{{ curr_resource.organization.organization_name }}</td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("Item Type") }}</th>
                    <th>{{ _("Count") }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curr_item_stock in curr_resource.item_stock %}
                  <tr>
                    <td>{{curr_item_stock.type}}</td>
                    <td>{{curr_item_stock.amount}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="donated-items">
      <h4> {{ _("Donations - items") }}</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ _("Organization") }}</th>
            <th>{{ _("Resources") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for curr_resource in organizations_with_resources %}
          {% if curr_resource.item_donations %}
          <tr>
            <td rowspan="{{curr_resource.item_donations}}|length">{{curr_resource.organization.organization_name}}</td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("Item Type") }}</th>
                    <th>{{ _("Count") }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curr_item_donation in curr_resource.item_donations %}
                  <tr>
                    <td>{{curr_item_donation.type}}</td>
                    <td>{{curr_item_donation.amount}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="donated-money">
      <h4>{{ _("Donations - money") }}</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th> {{ _("Organization") }}</th>
            <th> {{ _("Donation type") }}</th>
            <th> {{ _("Donation amount") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for curr_resource in organizations_with_resources %}
          {% if curr_resource.money_donations is defined and curr_resource.money_donations|length > 0 %}
          <tr>
            <td rowspan="{{curr_resource.money_donations}}|length">{{curr_resource.organization.organization_name}}</td>
            <td>
              <table>
                <thead>
                  <tr>
                    <th>{{ _("Donation Type") }}</th>
                    <th>{{ _("Amount") }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for curr_money_donation in curr_resource.money_donations %}
                  <tr>
                    <td>{{curr_money_donation.donation_type}}</td>
                    <td>{{curr_money_donation.cashAmount}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="pending-requests">
      <h4>{{ _("Pending") }}</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ _("Lp") }} </th>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Status") }}</th>
            <th>{{ _("Affected") }} </th>
            <th>{{ _("Address") }} </th>
            <th>{{ _("Needs") }}</th>
            <th>{{ _("Amount") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for request in requests_for_charity_campaign %}
          {% if request.status.value == request_status.PENDING.value %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ request.name }}</td>
            <td>{{ request.status.value }}</td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("First name") }}</th>
                    <th>{{ _("Last name") }} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ request.affected.first_name }}</td>
                    <td>{{ request.affected.last_name }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("City") }}</th>
                    <th>{{ _("Street") }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ request.address.city }}</td>
                    <td>{{ request.address.street }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>{{ request.donation_type.type }}</td>
            <td>{{ request.amount }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="request-history">
      <h4>{{ _("Request history") }}</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ _("Lp") }} </th>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Status") }}</th>
            <th>{{ _("Affected") }} </th>
            <th>{{ _("Address") }} </th>
            <th>{{ _("Needs") }}</th>
            <th>{{ _("Amount") }}</th>
          </tr>
        </thead>
        <tbody>
          {% for request in requests_for_charity_campaign %}
          {% if request.status.value == request_status.COMPLETED.value %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ request.name }}</td>
            <td>{{ request.status.value }}</td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("First name") }}</th>
                    <th>{{ _("Last name") }} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ request.affected.first_name }}</td>
                    <td>{{ request.affected.last_name }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>{{ _("City") }}</th>
                    <th>{{ _("Street") }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ request.address.city }}</td>
                    <td>{{ request.address.street }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>{{ request.donation_type.type }}</td>
            <td>{{ request.amount }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block ascript %}
<script>
  const VIEW = {
    AVALIABLE_RESOURCES: 'avaliable-resources',
    DONATED_ITEMS: 'donated-items',
    DONATED_MONEY: 'donated-money',
    PENDING_REQUESTS: 'pending-requests',
    REQUEST_HISTORY: 'request-history',
    AVALIABLE_MONEY: 'avaliable-money'
  }

  let hideAllItems = function () {
    for (let value in VIEW) {
      console.log(VIEW[value])
      let currElement = document.getElementById(VIEW[value]);
      if (currElement) {
        currElement.style['display'] = 'none';
      }
    }
  }

  let changeView = function (view) {
    if (typeof (VIEW, view)) {
      hideAllItems();
      console.log(view)
      let currElement = document.getElementById(view);
      if (currElement) {
        currElement.style['display'] = 'block';
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    hideAllItems()
    changeView(VIEW.AVALIABLE_RESOURCES)
  }, false);
</script>
{% endblock %}