{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and managing resources module") }}{% endblock %}

{% block content %}
<div class="container-fluid p-4">
  <h1>{{ _("Tracking and managing resources module") }}</h1>
  <h2>{{ _('Manage request panel') }}</h2>
  <a class="btn btn-dark btn-lg" href="{{ url_for('supply_chain.index') }}">{{ _("Back") }}</a>
  <h3>{{ _("Request:") }}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Status") }}</th>
        <th>{{ _("Affected") }}</th>
        <th>{{ _("Address") }}</th>
        <th>{{ _("Needs") }}</th>
        <th>{{ _("Amount") }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ curr_request.name }}</td>
        <td>{{ curr_request.status.value }}</td>
        <td>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{ _("First name") }}</th>
                <th>{{ _("Last name") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ curr_request.affected.first_name }}</td>
                <td>{{ curr_request.affected.last_name }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{ _("City") }}</th>
                <th>{{ _("Street") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ curr_request.address.city }}</td>
                <td>{{ curr_request.address.street }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>{{ curr_request.donation_type.type }}</td>
        <td>{{ curr_request.amount }}</td>
      </tr>
    </tbody>
  </table>

  <form method="post" id="send-resource">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.donation_amount.label(class="form-label") }}
      {{ form.donation_amount(class="form-control", min=curr_request.amount, max=stock_item.amount,
      value=curr_request.amount) }}
      {% for error in form.donation_amount.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.donation_type.label(class="form-label") }}
      {{ form.donation_type(class="form-control") }}
      {% for error in form.donation_type.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="mb-3">
      <label class="form-label" for="item_amount">{{_('Available resource amount:')}}</label>
      {% if stock_item.amount is defined %}
      <input class="form-control" type="number" name="item_amount" value="{{stock_item.amount}}" readonly />
      {% elif stock_item.cashAmount is defined %}
      <input class="form-control" type="number" name="item_amount" value="{{stock_item.cashAmount}}" readonly />
      {% else %}
      <input class="form-control" type="number" name="item_amount" value="0" readonly />
      {% endif %}
    </div>
    {% if success_message is defined and success_message is not none %}
    {{ form.submit(class="btn btn-primary", disabled=True) }}
    {% else %}
    {{ form.submit(class="btn btn-primary") }}
    {% endif %}
  </form>
</div>
{% endblock %}
{% block ascript %}
<script>
  let formId = 'send-resource';
  let resourceForm = document.getElementById(formId);

  let checkForm = function () {
    let data = new FormData(resourceForm);
    let donationAmount = data.get('donation_amount');
    let itemAmount = data.get('item_amount');

    if (donationAmount < itemAmount) {
      if (document.getElementById('error-item') != null) {
        return false;
      }
      let element = document.body.appendChild(document.createElement('button'));
      element.id = 'error-item';
      element.classList.add('btn')
      element.classList.add('btn-primary')
      element.classList.add('btn-ln')
      element.style['background-color'] = 'red'

      element.textContent = 'Cannot send items to current request';
      return false;
    }
    return true;
  }

  let mainForm = document.forms[0];

  mainForm.onsubmit = function (event) {
    let donationAmount = parseInt(mainForm.elements['donationAmount'].value);
    let itemStockAmount = parseInt(mainForm.elements['item_amount'].value);
    let amountErrorMessage = document.getElementById['amount-error-div']
    if (donationAmount > itemStockAmount) {
      amountErrorMessage.style['display'] = 'block';
      event.preventDefault();
    } else {
      amountErrorMessage.style['display'] = 'none';
      document.getElementById['submit-button'].disabled = true;
    }
  }
</script>
{% endblock %}