{% extends "base.jinja" %}

{% block title %}{{ _("Tracking and Managing Resources") }}{% endblock %}

{% block content %}
<div class="container-fluid p-4">
  <a class="btn btn-dark btn-lg" href="{{ url_for('home') }}">{{ _("Back") }}</a>
  <div class="btn-group" role="group">
    <a class="btn btn-primary btn-lg" id="donated-items-button"
      onclick="changeView(VIEW.AVALIABLE_RESOURCES)">{{_("Avaliable resources")}}</a>
    <a class="btn btn-primary btn-lg" id="donated-items-button" onclick="changeView(VIEW.DONATED_ITEMS)">{{_("Items
      donated by donors")}}</a>
    <a class="btn btn-primary btn-lg" id="donated-money-button" onclick="changeView(VIEW.DONATED_MONEY)">{{_("Money
      donated by donors")}}</a>
    <a class="btn btn-primary btn-lg" id="pending-requests-button"
      onclick="changeView(VIEW.PENDING_REQUESTS)">{{_("Current requests")}}</a>
    <a class="btn btn-primary btn-lg" id=" request-history-button"
      onclick="changeView(VIEW.REQUEST_HISTORY)">{{_("Completed requests")}}</a>
  </div>
  <hr>
  {% if charity_campaign is defined %}
  <h3>{{ _("Select the aid campaign you wish to manage") }}</h3>
  <form class="my-3" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.curr_charity_campaign.label(class="form-label") }}
      {{ form.curr_charity_campaign(class="form-select mb-3") }}
      {% for error in form.curr_charity_campaign.errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    {{ form.submit(class="btn btn-secondary") }}
  </form>
  <hr>
  <h4 class="my-4">{{ _("Managing Campaign") }}: <strong>{{ charity_campaign.name }}</strong></h4>
  <h4 class="my-4">{{ _("Account Balance") }}: <strong>{{ account_balance or 0 }}</strong></h4>
  {% endif %}

  <!-- ITEM DONATIONS -->
  <div id="avaliable-resources">
    <h4>{{ _("Avaliable Items:") }}</h4>
    {% if item_donations is none %}
    <p> {{ _("Could not find any items") }} </p>
    {% else %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>{{ _("Lp") }}</th>
          <th>{{ _("Resource type:") }}</th>
          <th>{{ _("Amount") }}</th>
          <th>{{ _("Aid Campaign") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for donation in item_donations %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ _(donation.item_type.type) }}</td>
          <td>{{ donation.amount }}</td>
          <td>{{ donation.organization_charity_campaign.charity_campaign.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>

  <!-- AFFECTED REQUESTS -->
  <div id="pending-requests">
    <h4>{{ _("Current requests:") }} </h4>
    {% if organization_charity_campaign.requests %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ _("Lp") }} </th>
          <th>{{ _("Name") }}</th>
          <th>{{ _("Status") }}</th>
          <th>{{ _("Affected") }} </th>
          <th>{{ _("Address") }} </th>
          <th>{{ _("Needs") }}</th>
          <th>{{ _("Amount") }}</th>
          <th>{{ _("Actions") }}</th>
        </tr>
      </thead>
      {% for request in organization_charity_campaign.requests %}
      {% if request.status.value == request_status.PENDING.value %}
      <tbody>
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ request.name }}</td>
          <td>{{ request.status.value }}</td>
          <td>
            <table class="table table-bordered">
              <tr>
                <th>{{ _("First name") }}</th>
                <th>{{ _("Last name") }}</th>
              </tr>
              <tr>
                <td>{{ request.affected.first_name }}</td>
                <td> {{ request.affected.last_name }} </td>
              </tr>
            </table>
          </td>
          <td>
            <table class="table table-bordered">
              <tr>
                <th>{{ _("City") }}</th>
                <th>{{ _("Street") }}</th>
                <th>{{ _("Street Number") }}</th>
              </tr>
              <tr>
                <td>{{ request.address.city }}</td>
                <td>{{ request.address.street }}</td>
                <td>{{ request.address.street_number }}</td>
              </tr>
            </table>
          </td>
          <td>{{ _(request.donation_type.type) }}</td>
          <td>{{ request.amount }}</td>
          <td>
            <a class="btn btn-primary" href="{{ url_for('supply_chain.manage_request', request_id=request.id) }}">
              {{ _("Manage request") }}
            </a>
          </td>
        </tr>
      </tbody>
      {% endif %}
      {% endfor %}
    </table>
    {% else %}
    <p>{{ _("Could not find any requests") }} </p>
    {% endif %}
  </div>

  <!-- ITEM DONATIONS HISTORY -->
  <div id="donated-items">
    <h4>{{ _("Donation history: ") }}</h4>
    {% if organization_charity_campaign.donations_item %}
    <table class="table table-hover" id="donated-items">
      <thead>
        <tr>
          <th>{{ _("Lp") }}</th>
          <th>{{ _("Description") }}</th>
          <th>{{ _("Amount") }}</th>
          <th>{{ _("Item type") }}</th>
          <th>{{ _("Date") }}</th>
          <th>{{ _("Donor") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for donation in organization_charity_campaign.donations_item %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ donation.description }}</td>
          <td>{{ donation.amount }}</td>
          <td>{{ _(donation.donation_type.type) }}</td>
          <td>{{ donation.donation_date }}</td>
          <td>{{ donation.donor.first_name }} {{donation.donor.last_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ _("Could not find any requests") }}</p>
    {% endif %}
  </div>

  <!-- MONEY DONATIONS HISTORY -->
  <div id="donated-money">
    <h4>{{ _("Money donation history: ") }}</h4>
    {% if organization_charity_campaign.donations_money %}
    <table class="table table-hover">
      <tr>
        <th>{{ _("Lp")}} </th>
        <th>{{ _("Description")}}</th>
        <th>{{ _("Amount") }}</th>
        <th>{{ _("Item type") }}</th>
        <th>{{ _("Date") }} </th>
        <th>{{ _("Donor") }}</th>
      </tr>
      {% for donation in organization_charity_campaign.donations_money %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ donation.description }}</td>
        <td>{{ donation.cashAmount }}</td>
        <td>{{ _(donation.donation_type.type) }}</td>
        <td>{{ donation.donation_date }}</td>
        <td>{{ donation.donor.name}} {{donation.donor.surname}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>{{ _("Could not find any historical money donations.") }} </p>
    {% endif %}
  </div>

  <!-- REQUESTS HISTORY -->
  <div id="request-history">
    <h4>{{ _("Request history") }}</h4>
    {% if organization_charity_campaign.requests %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ _("Lp") }} </th>
          <th>{{ _("Name") }}</th>
          <th>{{ _("Status") }}</th>
          <th>{{ _("Affected") }} </th>
          <th>{{ _("Address") }} </th>
          <th>{{ _("Needs") }}</th>
          <th>{{ _("Amount") }}</th>
        </tr>
      </thead>
      {% for request in organization_charity_campaign.requests %}
      {% if request.status.value == request_status.COMPLETED.value %}
      <tbody>
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ request.name }}</td>
          <td>{{ request.status.value }}</td>
          <td>
            <table class="table table-bordered">
              <tr>
                <th>{{ _("First name") }}</th>
                <th>{{ _("Last name") }}</th>
              </tr>
              <tr>
                <td>{{ request.affected.first_name }}</td>
                <td>{{ request.affected.last_name }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table class="table table-bordered">
              <tr>
                <th>{{ _("City") }}</th>
                <th>{{ _("Street") }}</th>
                <th>{{ _("Street Number") }}</th>
              </tr>
              <tr>
                <td>{{ request.address.city }}</td>
                <td>{{ request.address.street }}</td>
                <td>{{ request.address.street_number }}</td>
              </tr>
            </table>
          </td>
          <td>{{ _(request.donation_type.type) }}</td>
          <td>{{ request.amount }}</td>
        </tr>
      </tbody>
      {% endif %}
      {% endfor %}
    </table>
    {% else %}
    <p>{{ _("Could not find any historical requests.") }} </p>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block ascript %}
<script>
  const VIEW = {
    AVALIABLE_RESOURCES: 'avaliable-resources',
    DONATED_ITEMS: 'donated-items',
    DONATED_MONEY: 'donated-money',
    PENDING_REQUESTS: 'pending-requests',
    REQUEST_HISTORY: 'request-history',
    AVALIABLE_MONEY: 'avaliable-money'
  }

  let hideAllItems = function () {
    for (let value in VIEW) {
      console.log(VIEW[value])
      let currElement = document.getElementById(VIEW[value]);
      if (currElement) {
        currElement.style['display'] = 'none';
      }
    }
  }

  let changeView = function (view) {
    if (typeof (VIEW, view)) {
      hideAllItems();
      console.log(view)
      let currElement = document.getElementById(view);
      if (currElement) {
        currElement.style['display'] = 'block';
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    hideAllItems()
    changeView(VIEW.AVALIABLE_RESOURCES)
  }, false);
</script>
{% endblock %}