# Core dependencies
Flask == 3.0.3
Flask-SQLAlchemy == 3.1.1
flask-babel == 4.0.0
Flask-Admin == 1.6.1
psycopg2-binary == 2.9.10

# Authentication and authorization
Flask-Login~=0.6.3
Werkzeug~=3.1.2
WTForms~=3.2.1
SQLAlchemy~=2.0.36
dnspython~=2.7.0
itsdangerous~=2.2.0
Flask-Mailman~=1.1.1
Flask-WTF~=1.2.2
email-validator~=2.2.0
pyotp>=2.9.0
qrcode[pil]>=8.0

# Communication
Flask-SocketIO==5.5.1

# Additional utilities
pytest == 8.3.3
matplotlib==3.10.0

# Real time chat
flask-socketio == 5.5.1
# Maps
openrouteservice == 2.3.0
geopy == 2.4.1
