{% extends "base.jinja" %}

{% block title %}{{ _("Affected Details") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <header>
    <h1>{{ affected.first_name }} {{ affected.last_name }}</h1>
  </header>

  <section>
    <h2>{{ _("Personal Information") }}</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>{{ _("First Name:") }}</strong> {{ affected.first_name }}</li>
      <li class="list-group-item"><strong>{{ _("Last Name:") }}</strong> {{ affected.last_name }}</li>
      <li class="list-group-item"><strong>{{ _("Needs:") }}</strong> {{ affected.needs }}</li>
      <li class="list-group-item"><strong>{{ _("Address:") }}</strong> {{ affected.address.street }} {{
        affected.address.street_number }},
        {{ affected.address.city }}, {{ affected.address.voivodeship }}</li>
    </ul>
  </section>

  <section class="mt-4">
    <h2>{{ _("Requests") }}</h2>
    {% if requests %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("Request Name") }}</th>
          <th>{{ _("Status") }}</th>
          <th>{{ _("Needs") }}</th>
          <th>{{ _("Amount") }}</th>
          <th>{{ _("Address") }}</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
        <tr>
          <td>{{ request.name }}</td>
          <td>{{ request.status.value }}</td>
          <td>{{ request.donation_type.type }}</td>
          <td>{{ request.amount }}</td>
          <td>{{ request.address.street }} {{ request.address.street_number }},
            {{ request.address.city }}, {{ request.address.voivodeship }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="text-muted">{{ _("No requests found.") }}</p>
    {% endif %}
  </section>
</div>
{% endblock %}