{% extends "base.jinja" %}

{% block title %}{{ _("All Requests") }}{% endblock %}

{% block content %}
<div class="container mt-4">
        <h1>{{ _("All Requests") }}</h1>
        <table class="table">
                <thead>
                        <tr>
                                <th>{{ _("ID") }}</th>
                                <th>{{ _("Name") }}</th>
                                <th>{{ _("Status") }}</th>
                                <th>{{ _("Affected") }}</th>
                                <th>{{ _("Needs") }}</th>
                                <th>{{ _("Amount") }}</th>
                                <th>{{ _("Address ID") }}</th>
                                <th>{{ _("Street") }}</th>
                                <th>{{ _("Street Number") }}</th>
                                <th>{{ _("City") }}</th>
                                <th>{{ _("Voivodeship") }}</th>
                                <th>{{ _("Actions") }}</th>
                        </tr>
                </thead>
                <tbody>
                        {% for request in requests %}
                        <tr>
                                <td>{{ request.id }}</td>
                                <td>{{ request.name }}</td>
                                <td>{{ _(request.status.value) }}</td>
                                <td>{{ request.affected.first_name }} {{ request.affected.last_name }}</td>
                                <td>{{ request.donation_type.type }}</td>
                                <td>{{ request.amount }}</td>
                                <td>{{ request.address_id }}</td>
                                <td>{{ request.address.street }}</td>
                                <td>{{ request.address.street_number }}</td>
                                <td>{{ request.address.city }}</td>
                                <td>{{ request.address.voivodeship }}</td>
                                <td>
                                        <a href="{{ url_for('affected.update_request_status', request_id=request.id) }}"
                                                class="btn btn-primary">
                                                {{ _("Update Status") }}
                                        </a>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
{% endblock %}