{% extends "base.jinja" %}

{% block title %}{{ _("Chat") }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div>
    <h2>{{ _("Find a user") }}</h2>
    <input type="text" class="form-control" id="search-users" placeholder="{{ _('Search') }}">
    <hr>
    <ul id="user-list" class="list-group mb-3" style="display: none;"></ul>
  </div>

  <h2>{{ _("Your existing chats:") }}</h2>
  <ul class="list-group">
    {% for chat_user in chat_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ chat_user.email }}
      <button class="btn btn-primary btn-sm start-chat" data-email="{{ chat_user.email }}">{{ _("Start Chat")
        }}</button>
    </li>
    {% endfor %}
  </ul>
  <div class="my-3" id="chat-area" style="display: none;">
    <hr>
    <h2 class="mb-3">{{ _("Chat with ") }}<span id="current-chat-user"></span></h2>
    <div class="d-flex justify-content-center">
      <div id="messages" class="mb-2 rounded"
        style="height: 300px; max-width: 75%; min-width: 75%; overflow-y: auto; overflow-x: hidden; border: 1px solid #ccc; padding: 10px;">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="input-group mb-3" style="max-width: 75%; min-width: 75%;">
        <input type=" text" id="message-input" class="form-control" placeholder="{{ _('Type a message') }}">
        <button id="send-message" class="btn btn-primary ml-2">{{ _("Send") }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block ascript %}
<script>
  $(document).ready(function () {
    const socket = io();
    const email = "{{ user.email if user else '' }}";
    console.log(email)

    function joinRoom(receiver) {
      socket.emit('join', { email: email, receiver: receiver });
    }

    $('#search-users').on('input', function () {
      const query = $(this).val().trim();
      const userList = $('#user-list');

      if (!query) {
        userList.empty().hide(); // Hide user list if input is empty
        return;
      }

      $.get('/communication/search-users', { query: query, current_email: email })
        .done(function (users) {
          userList.empty();
          if (Array.isArray(users) && users.length > 0) {
            users.forEach(user => {
              userList.append(
                `<li class="list-group-item d-flex justify-content-between align-items-center">
                  ${user.email}
                  <button class="btn btn-primary btn-sm start-chat" data-email="${user.email}">{{ _("Start Chat") }}</button>
                </li>`
              );
            });
            userList.show();
          } else {
            userList.append(`<li class="list-group-item">{{ _("No users found") }}</li>`).show();
          }
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
          console.error("{{ _('Error fetching users:') }}", textStatus, errorThrown);
          userList.empty().append(`<li class="list-group-item text-danger">{{ _("Error loading users") }}</li>`).show();
        });
    });

    $(document).on('click', '.start-chat', function () {
      const selectedUser = $(this).data('email');
      $('#current-chat-user').text(selectedUser);
      $('#chat-area').show();

      joinRoom(selectedUser);

      $.get('/communication/get-messages', { sender: email, receiver: selectedUser })
        .done(function (messages) {
          const messagesDiv = $('#messages');
          messagesDiv.empty();
          messages.forEach(msg => {
            const profilePicture = msg.sender_profile_picture ? `{{ url_for('static', filename='uploads/') }}${msg.sender_profile_picture}` : `{{ url_for('static', filename='uploads/base_profile_picture.jpg') }}`;
            let formattedMessage;
            if (msg.sender === email) {
              // If the sender is the current user, show the content first
              formattedMessage = `
                  <div class="flex-container align-items-start mb-2 text-end">
                    <div class="row justify-content-end">
                      <div class="col-md-10">
                          <div class='text-bg-primary rounded p-2 text-start' style="display: inline-block; max-width: 30%;  min-width: 5%; word-wrap: break-word;">
                            <p class="mb-0"><strong>${msg.content}</strong></p>
                            <small class="timestamp" style="display: none;">${msg.timestamp}</small>
                          </div>
                      </div>
                    </div>
                      <img src="${profilePicture}" alt="Profile Picture" class="rounded-circle m-2" width="20" height="20">
                  </div>`;
            } else {
              // If the sender is not the current user, show the sender first
              console.log(msg.content)
              formattedMessage = `
              <div class="flex-container align-items-start text-start mb-2">
                <img src="${profilePicture}" alt="Profile Picture" class="rounded-circle m-2" width="20" height="20">
                  <div class="row justify-content-start">
                    <div class="col-md-10">
                      <div class='text-bg-secondary rounded p-2' style="display: inline-block; max-width: 30%; min-width: 5%; word-wrap: break-word;">
                        <p class="mb-0">
                          ${msg.content}
                        </p>
                        <small class="timestamp" style="display: none;">${msg.timestamp}</small>
                      </div>
                    </div>
                  </div>
            </div>`;
            }
            messagesDiv.append(formattedMessage);
          });
          messagesDiv.scrollTop(messagesDiv[0].scrollHeight);
        })
        .fail(function () {
          console.error("{{ _('Error loading messages.') }}");
        });
    });

    function sendMessage() {
      const messageInput = $('#message-input');
      const message = messageInput.val().trim();
      const receiver = $('#current-chat-user').text();

      if (!message || !receiver) return;

      socket.emit('send_message', {
        sender: email,
        receiver: receiver,
        message: message
      });

      messageInput.val('');
    }

    $('#send-message').click(sendMessage);
    $('#message-input').keypress(function (e) {
      if (e.which == 13) { // Enter key
        e.preventDefault();
        sendMessage();
      }
    });

    $(document).on('click', '.text-bg-primary, .text-bg-secondary', function () {
      $(this).find('.timestamp').toggle();
    });

    socket.on('receive_message', function (data) {
      const currentChatUser = $('#current-chat-user').text();
      if (
        (data.sender === currentChatUser && data.receiver === email) ||
        (data.sender === email && data.receiver === currentChatUser)
      ) {
        const profilePicture = data.sender_profile_picture ? `{{ url_for('static', filename='uploads/') }}${data.sender_profile_picture}` : `{{ url_for('static', filename='uploads/base_profile_picture.jpg') }}`;
        const formattedMessage = data.sender === email ?
          `<div class="flex-container align-items-start text-end">
                <div class="row justify-content-end">
                  <div class="col-md-10">
                    <div class='text-bg-primary rounded p-2 text-start' style="display: inline-block; max-width: 30%;  min-width: 5%; word-wrap: break-word;">
                        <p class="mb-0"><strong>${data.message}</strong></p>
                        <small class="timestamp" style="display: none;">${data.timestamp}</small>
                    </div>
                  </div>
                </div>
                <img src="${profilePicture}" alt="Profile Picture" class="rounded-circle m-2" width="20" height="20">
              </div>`
          :
          `<div class="flex-container align-items-start text-start mb-2">
            <img src="${profilePicture}" alt="Profile Picture" class="rounded-circle m-2" width="20" height="20">
              <div class="row justify-content-start">
                <div class="col-md-10">
                  <div class='text-bg-secondary rounded p-2' style="display: inline-block; max-width: 30%; min-width: 5%; word-wrap: break-word;">
                    <p class="mb-0">
                    ${data.message}
                    </p>
                    <small class="timestamp" style="display: none;">${data.timestamp}</small>
                  </div>
                </div>
              </div>
            </div>`;
        $('#messages').append(formattedMessage);
        $('#messages').scrollTop($('#messages')[0].scrollHeight);
      }
    });
  });
</script>
{% endblock %}