{% extends "base.jinja" %}

{% block title %}{{ _("Create Donation") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>{{ _("Create a Donation") }}</h1>
      <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset>
          <div class="form-group mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", placeholder=_("Description")) }}
          </div>
          <div class="form-group mb-3" id="amount_container">
            {{ form.amount.label(class="form-label") }}
            {{ form.amount(class="form-control", placeholder=_("Amount")) }}
          </div>
          <div class="form-group mb-3">
            {{ form.donation_type.label(class="form-label") }}
            {{ form.donation_type(class="form-select", onchange="toggleDonationFields()") }}
          </div>
          <div class="form-group">
            {{ form.organization_charity_campaign_id.label(class="form-label") }}
            {{ form.organization_charity_campaign_id(class="form-select") }}
          </div>
          <br>
          <div>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('home') }}" class="btn btn-danger">{{ _("Cancel") }}</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script>
  function toggleDonationFields() {
    var donationType = document.getElementById('donation_type').value;
    var amountContainer = document.getElementById('amount_container');

    if (donationType === 'item') {
      amountContainer.style.display = 'none';
    } else {
      amountContainer.style.display = 'block';
    }
  }

  // Initialize the visibility on page load
  document.addEventListener('DOMContentLoaded', function () {
    toggleDonationFields();
  });
</script>
{% endblock %}