{% extends "base.jinja" %}

{% block title %}{{ _("Donor's donations") }}{% endblock %}

{% set referrer = url_for('home') %}

{% block content %}
<div class="container mt-2">
  <h2>{{ _("Your Donations") }}</h2>
  <hr class="my-4" />
  <h3>{{ _("Money Donations") }}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ _("Description") }}</th>
        <th scope="col">{{ _("Amount") }}</th>
        <th scope="col">{{ _("Confirmation") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for donation in donations_money %}
      <tr>
        <td>{{ donation.description }}</td>
        <td>{{ donation.cashAmount }}</td>
        <td>
          <form action="/donors/confirmMoney/{{ donation.donationMoney_id }}" method="post" class="d-flex w-100">
            <button class="btn btn-primary w-100">{{ _("Confirmation") }}</button>
          </form>
        </td>
      </tr>
      {% endfor %}
  </table>
  <a class="btn btn-primary w-100 mb-2" href="#">{{ _("Generate Tax Report") }}</a>
  <br>
  <h3>{{ _("Item Donations") }}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ _("Description") }}</th>
        <th scope="col">{{ _("Type") }}</th>
        <th scope="col">{{ _("Number") }}</th>
        <th scope="col">{{ _("Confirmation") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for donation in donations_items %}
      <tr>
        <td>{{ donation.description }}</td>
        <td>{{ donation.donation_type_id }}</td>
        <td>{{ donation.amount }}</td>
        <td>
          <form action="/donors/confirm/{{ donation.donationItem_id }}" method="post" class="d-flex w-100">
            <button class="btn btn-primary w-100">{{ _("Confirmation") }}</button>
          </form>

        </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}