{% extends "profile.jinja" %}

{% block specific_user %}
<li class="list-group-item"><strong>{{ _("Name:") }}</strong> {{ donor.name }}</li>
<li class="list-group-item"><strong>{{ _("Last name:") }}</strong> {{ donor.surname }}</li>
<li class="list-group-item"><strong>{{ _("Phone:") }}</strong> {{ donor.phone_number }}</li>
{% endblock %}