{% extends "base.jinja" %}

{% block title %}{{ _("Donor List") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div>
    <a href="{{ url_for('donors.index') }}" class="btn btn-secondary">{{ _("Back") }}</a>
  </div>
  <hr class="my-d" />
  <h1>{{ _("Donor List") }}</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ _("ID") }}</th>
        <th scope="col">{{ _("First Name") }}</th>
        <th scope="col">{{ _("Last Name") }}</th>
        <th scope="col">{{ _("Phone") }}</th>
        <th scope="col">{{ _("Email") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for donor in donors %}
      <tr>
        <td>{{ donor.donor_id }}</td>
        <td>{{ donor.first_name }}</td>
        <td>{{ donor.last_name }}</td>
        <td>{{ donor.phone_number }}</td>
        <td>{{ donor.email }}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="{{ url_for('donors.list_donations', donor_id=donor.donor_id) }}">
            {{ _("View Donations") }}
          </a>
        </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}