{% extends "profile.jinja" %}

{% block specific_user_form %}
<div class="row">
    <div class="col-md-4">
        <label class="form-label">{{ _("First Name:") }}</label>
        <input type="text" class="form-control" value="{{ donor.first_name }}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">{{ _("Last Name:") }}</label>
        <input type="text" class="form-control" value="{{ donor.last_name }}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">{{ _("Phone") }}</label>
        <input type="tel" class="form-control" value="{{ donor.phone_number }}" readonly>
    </div>
</div>
{% endblock %}