{% extends "base.jinja" %}

{% block title %}{{ _("Update Task Status") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>{{ _("Update Task Status") }}</h1>
            <form method="POST" action="{{ url_for('volunteers.update_task_status', task_id=task.id) }}">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                    {{ form.status.label(class="form-label") }}
                    {{ form.status(class="form-select") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}