{% extends "profile.jinja" %}

{% block specific_user_form %}
<div class="row">
    <div class="col-md-4">
        <label class="form-label">{{ _("First Name:") }}</label>
        <input type="text" class="form-control" value="{{ volunteer.first_name }}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">{{ _("Last Name:") }}</label>
        <input type="text" class="form-control" value="{{ volunteer.last_name }}" readonly>
    </div>
    <div class="col-md-4">
        <label class="form-label">{{ _("Phone") }}</label>
        <input type="tel" class="form-control" value="{{ volunteer.phone }}" readonly>
    </div>
</div>
<div class="row mt-3">
    <h6 class="mb-3">{{ _("Address Details") }}</h6>
    <div class="row mb-3">
        <div class="col-md-6">
            <label class="form-label">{{ _("Street") }}</label>
            <input type="text" class="form-control" value="{{ volunteer.address.street }}" readonly>
        </div>
        <div class="col-md-6">
            <label class="form-label">{{ _("Street Number") }}</label>
            <input type="text" class="form-control" value="{{ volunteer.address.street_number }}" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label class="form-label">{{ _("City") }}</label>
            <input type="text" class="form-control" value="{{ volunteer.address.city }}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">{{ _("Voivodeship") }}</label>
            <input type="text" class="form-control" value="{{ volunteer.address.voivodeship }}" readonly>
        </div>
        <div class="col-md-4">
            <label class="form-label">{{ _("ZIP Code") }}</label>
            <input type="text" class="form-control" value="00-001" readonly>
        </div>
    </div>
</div>
{% endblock %}