{% extends "profile.jinja" %}

{% block specific_user %}
<li class="list-group-item"><strong>{{ _("Name:") }}</strong> {{ authorities.name }}</li>
<li class="list-group-item"><strong>{{ _("Phone:") }}</strong> {{ authorities.phone }}</li>
<li class="list-group-item"><strong>{{ _("Approved:") }}</strong>
    {% if authorities.approved %}
    <span class="badge text-bg-success">{{ _("Approved") }}</span>
    {% else %}
    <span class="badge text-bg-warning">{{ _("Not approved") }}</span>
    {% endif %}
</li>
<li class="list-group-item"><strong>{{ _("Voivodeship:") }}</strong> {{ authorities.address.voivodeship }}
<li class="list-group-item"><strong>{{ _("City:") }}</strong> {{ authorities.address.city }}</li>
<li class="list-group-item"><strong>{{ _("Street:") }}</strong> {{ authorities.address.street }}</li>
<li class="list-group-item"><strong>{{ _("Street number:") }}</strong>
    {{authorities.address.street_number}}
</li>
{% endblock %}