{% extends "base.jinja" %}

{% block title %}{{ _("Create Task") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if volunteers %}
      <form method="post">
        <legend>{{ _("Create a New Task") }}</legend>
        <fieldset>
          <div class="form-group">
            <label for="name">{{ _("Task Name:") }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ _('Task name') }}">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">{{ _("Description:") }}</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="{{ _('Opis') }}"
              required></textarea>
          </div>
          <div>
            <label for="volunteer_id">{{ _("Volunteer:") }}</label>
            <select class="form-control" id="volunteer_id" name="volunteer_id" required>
              {% for volunteer in volunteers %}
              <option value="{{ volunteer.id }}">{{ volunteer.first_name }} {{ volunteer.last_name }}
              </option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary">{{ _("Create task") }}</button>
          </div>
        </fieldset>
      </form>
      {% elif volunteer_id %}
      <form method="post">
        <legend>{{ _("Create a New Task") }}</legend>
        <fieldset>
          <div class="form-group">
            <label for="name">{{ _("Task Name:") }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ _('Task name') }}">
          </div>
          <div class="form-group">
            <label for="exampleTextarea">{{ _("Description:") }}</label>
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="{{ _('Opis') }}"
              required></textarea>
          </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary">{{ _("Create task") }}</button>
          </div>
        </fieldset>
      </form>
      {% else %}
      <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">{{ _("Warning") }}!</h4>
        <p class="mb-0">
          {{ _("No volunteers are assigned to your charity campaign") }} <a
            href="{{ url_for('organization.list_my_charity_campaigns') }}" class="alert-link">
            {{_("Return to your campaings") }}</a>.
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}