{% extends "base.jinja" %}

{% block title %}{{ _("Create Task") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if volunteers %}
      <form method="post">
        {{ form.hidden_tag() }}
        <legend>{{ _("Create a New Task") }}</legend>
        <fieldset>
          <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.volunteer_id.label(class="form-label") }}
            {{ form.volunteer_id(class="form-control") }}
          </div>
          <br>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </fieldset>
      </form>
      {% elif volunteer_id %}
      <form method="post">
        {{ form.hidden_tag() }}
        <legend>{{ _("Create a New Task") }}</legend>
        <fieldset>
          <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
          </div>
          <br>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </fieldset>
      </form>
      {% else %}
      <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">{{ _("Warning") }}!</h4>
        <p class="mb-0">
          {{ _("No volunteers are assigned to your charity campaign") }} <a
            href="{{ url_for('organization.list_my_charity_campaigns') }}" class="alert-link">
            {{_("Return to your campaigns") }}</a>.
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}