{% extends "base.jinja" %}

{% block title %}{{ _("Manage Volunteers") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>{{ _("Volunteer List") }}</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">{{ _("First Name") }}</th>
                <th scope="col">{{ _("Last Name") }}</th>
                <th scope="col">{{ _("Email") }}</th>
                <th scope="col">{{ _("Assigned tasks") }}</th>
                <th scope="col">{{ _("Actions") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in volunteers %}
            <tr>
                <td>{{ volunteer.first_name }}</td>
                <td>{{ volunteer.last_name }}</td>
                <td>{{ volunteer.email }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                        href="{{ url_for('organization.view_volunteer_tasks', charity_campaign_id=charity_campaign_id, volunteer_id=volunteer.id) }}">
                        {{ _("View Tasks") }}
                    </a>
                </td>
                <td>
                    <form
                        action="{{ url_for('organization.remove_volunteer', organization_charity_campaign_id=charity_campaign_id, volunteer_id=volunteer.id) }}"
                        method="POST" onsubmit="return confirm('{{ _(" Are you sure you want to remove this volunteer?")
                        }}');">
                        <button type="submit" class="btn btn-danger btn-sm">{{ _("Remove") }}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}