{% extends "base.jinja" %}

{% block title %}{{ _("Sign to Charity Campaign") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if form.charity_campaign_id.choices %}
            <form method="post">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>{{ _("Sign to Charity Campaign") }}</legend>
                    <div class="form-group">
                        {{ form.charity_campaign_id.label }}<br>
                        {{ form.charity_campaign_id(class="form-control") }}<br>
                        {% for error in form.charity_campaign_id.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </fieldset>
            </form>
            {% else %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">{{ _("Warning") }}!</h4>
                <p class="mb-0">
                    {{ _("There is no available charity campaigns.") }}
                    <br>
                    <a href="{{ url_for('home') }}" class="alert-link">
                        {{_("Return to main page") }}
                    </a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}