{% extends "base.jinja" %}

{% block title %}{{ _("Authorities Information") }}{% endblock %}

{% block content %}
<div class="container mt-2 d-flex justify-content-center">
    <section>
        <h2 class="text-center">{{ _("Authorities Information") }}</h2>
        <div class="card" style="width: 30rem;">
            <img src="{{ url_for('static', filename='uploads/' ~ (authority.user.profile_picture or 'base_profile_picture.jpg')) }}"
                alt="Profile Picture" class="rounded-circle mx-auto d-block mt-3" width="120" height="120">
            <div class="card-body text-center">
                <h5 class="card-title">{{ authority.name }}</h5>
                <p class="card-text"><strong>{{ _("Email:") }}</strong> {{ authority.user.email }}</p>
                <p class="card-text"><strong>{{ _("Phone:") }}</strong> {{ authority.phone }}</p>
                <p class="card-text"><strong>{{ _("Status:") }}</strong>
                    {% if authority.approved %}
                    <span class="badge text-bg-success">{{ _("Approved") }}</span>
                    {% else %}
                    <span class="badge text-bg-warning">{{ _("Not approved") }}</span>
                    {% endif %}
                </p>
                <p class="card-text"><strong>{{ _("Voivodeship:") }}</strong> {{ authority.address.voivodeship }}</p>
                <p class="card-text"><strong>{{ _("City:") }}</strong> {{ authority.address.city }}</p>
                <p class="card-text"><strong>{{ _("Street:") }}</strong> {{ authority.address.street }}</p>
                <p class="card-text"><strong>{{ _("Street number:") }}</strong> {{ authority.address.street_number }}
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}