{% extends "base.jinja" %}

{% block title %}{{ _("Authorities Information") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <section>
        <h2>{{ _("Authorities Information") }}</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>{{ _("Name:") }}</strong> {{ authority.name }}</li>
            <li class="list-group-item"><strong>{{ _("Phone:") }}</strong> {{ authority.phone }}</li>
            <li class="list-group-item"><strong>{{ _("Status:") }}</strong>
                {% if authority.approved %}
                <span class="badge text-bg-success">{{ _("Approved") }}</span>
                {% else %}
                <span class="badge text-bg-warning">{{ _("Not approved") }}</span>
                {% endif %}
            </li>
            <li class="list-group-item"><strong>{{ _("Voivodeship:") }}</strong> {{
                authority.address.voivodeship }}
            <li class="list-group-item"><strong>{{ _("City:") }}</strong> {{ authority.address.city }}</li>
            <li class="list-group-item"><strong>{{ _("Street:") }}</strong> {{ authority.address.street }}</li>
            <li class="list-group-item"><strong>{{ _("Street number:") }}</strong>
                {{ authority.address.street_number }}
            </li>
        </ul>
    </section>
</div>
{% endblock %}