{% extends "base.jinja" %}

{% block title %}{{ _("Volunteer Sign to Charity Campaign") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div>
        <a href="{{ url_for('home') }}" class="btn btn-secondary">{{ _("Back") }}</a>
    </div>
    <hr class="my-4" />
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if organization_charity_campaigns %}
            <h1>{{ _("Sign to Charity Campaign") }}</h1>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.organization_charity_campaign_id.label(class="form-label") }}
                    {{ form.organization_charity_campaign_id(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            {% else %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">{{ _("Warning") }}!</h4>
                <p class="mb-0">
                    {{ _("There is no available charity campaigns.") }}
                    <br>
                    <a href="{{ url_for('home') }}" class="alert-link">
                        {{_("Return to main page") }}
                    </a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}